
body {
  background-color: black;
}
h1 {
  color: white;
  font-family: "Press Start 2P", "consolas"
  
}
p {
  color: greenyellow;
  font-family: "consolas", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration:cyan underline;
  font-size: 18px;

}
