.box
{
	width: 100px;
	height: 100px;
	border: 1px solid;
	font-size: 40px;
	text-align: center;
	background-color: tomato;

	/* Here we are floating the box class to left */
	float: left;
}

/*
This code clears the float for the paragraph text

p
{
	clear: left;
}*/