h1
{
	/* First number = position on x axis.
	   Second number = position on y axis.
	   Third number = spread.

	   We can put two shadows in the same line.
	*/ 

	/*	
		Shadows work like:

		text-shadow: x, y, spread, colour;
	*/

	text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
}

h1:hover
{
	/* 
		The box-shadow property
		gives entire element the shadow effect
	*/

	box-shadow: 0px 5px 3px black;
}